--install.ignore-engines true
--install.ignore-platform true
--install.ignore-optional true
--install.ignore-scripts false
--install.check-files true
--install.frozen-lockfile true
--install.pure-lockfile true
--install.offline true
--install.network-timeout 100000
--install.production false
--install.no-lockfile false
--install.non-interactive true
--install.verbose true 